<!DOCTYPE html>
<html>
<head>

<!-- 
         _     _       _     
        (_)   | |     | |    
         _ ___| | __ _| |__  
        | / __| |/ _` | '_ \ 
        | \__ \ | (_| | |_) |
        |_|___/_|\__,_|_.__/ 
                             
        Design by duyetdev.com
                     
 -->


    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="tracker" content="//cf.track.duyetdev.com" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/yeti.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        {{! Everything else gets inserted here }}
        {{{body}}}

        {{> footer}}
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    {{> script_footer}}
</body>
</html>
